#estrellas {
  width: 10rem;
}
label {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #3D405B;
}
h3 {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  color: #E07A5F;
}
#score {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  color: #3D405B;
}
