.card {
  background-color: #F4F1DE;
  width: 18rem;
}
.card-header {
  height: 4rem;
}
p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: black;
}
p strong {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #3D405B;
}
h5 {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  color: #E07A5F;
}
#estrellas {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  color: #3D405B;
}
