/* You can add global styles to this file, and also import other style files */
body {
  background-color: #3052a4;
}
label {
  font-family: 'Odibee Sans', cursive;
  color: white;
  font-size: 40px;
}
.form-control, .btn-primary {
  font-family: 'Odibee Sans', cursive;
  font-size: 25px;
}
.formWarning {
  color: black;
}
.btn-primary {
  background-color: #cb262c !important;
  border: 0;
}
#toast-container > div {
  opacity:1;
}
